.btn {
  font-family: 'SVN-ProductSans';
  border-radius: 10px;
  font-weight: bold;
}

.btn-primary {
  background-color: #FFC800;
  border-color: #FFC800;
  color: #000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
  background: #e6b400;
  border-color: #e6b400;
  color: #000;
}

@font-face {
  font-family: 'SVN-ProductSans';
  src: url("../fonts/SVN-Product Sans/TTF/SVN-Product Sans Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'SVN-ProductSans';
  src: url("../fonts/SVN-Product Sans/TTF/SVN-Product Sans Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'SVN-ProductSans';
  src: url("../fonts/SVN-Product Sans/TTF/SVN-Product Sans Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: 'SVN-ProductSans';
  src: url("../fonts/SVN-Product Sans/TTF/SVN-Product Sans Bold Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

a, a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.f-title {
  font-family: 'SVN-ProductSans';
  font-weight: bold;
}

header {
  padding: 10px 0;
}

.col-cart {
  text-align: right;
}

@media (min-width: 768px) {
  header .col-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .col-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header .col-cart {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.logo {
  max-width: 55px;
}

.menu {
  margin-bottom: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.menu__item {
  font-family: "SVN-ProductSans";
  color: #000;
}

.menu__item a {
  color: #000;
  padding: 0px 10px;
}

.menu__item a:after {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

@media (max-width: 767px) {
  .menu {
    background: #fff;
    position: absolute;
    z-index: 99;
    padding: 15px;
    border-radius: 10px;
    right: 15px;
    left: 15px;
    top: 0;
    -webkit-box-shadow: 0 6px 36px rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 36px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
  }
  .menu.active {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .menu__item {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    margin-right: 35px;
  }
  .menu__item--active a, .menu__item:hover a {
    position: relative;
    display: block;
  }
  .menu__item--active a:after, .menu__item:hover a:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFC800;
    width: 100%;
    height: 8px;
    border-radius: 100px;
    opacity: 1;
    visibility: visible;
  }
  .menu__item--active a span, .menu__item:hover a span {
    position: relative;
    z-index: 3;
  }
}

.cart {
  background: #FFC800;
  border-radius: 50%;
  position: relative;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}

.cart .total {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  text-align: center;
  background-color: #009EFE;
  color: #fff;
  font-size: 12px;
}

.mobile-menu-trigger {
  display: inline-block;
}

.banner {
  margin-bottom: 50px;
}

.banner-slide {
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: 0 6px 36px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 36px rgba(0, 0, 0, 0.1);
}

.banner-slide img {
  border-radius: 20px;
}

.banner-slide__pagination {
  text-align: center;
}

.banner-slide__pagination .swiper-pagination-bullet {
  margin: 0 3px;
  background: #fff;
  opacity: 1;
}

.banner-slide__pagination .swiper-pagination-bullet-active {
  background: #FFC800;
}

.section {
  margin: 30px 0;
}

.section .title {
  font-family: "SVN-ProductSans";
  font-weight: bold;
  font-size: 30px;
}

.section .sub-title {
  margin-bottom: 35px;
}

.section--1 {
  position: relative;
}

@media (min-width: 992px) {
  .section--1 .content {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }
}

.section--5 {
  background-image: url(../image/bg-section5.png);
  background-size: 70%;
  background-repeat: no-repeat;
}

.section--5 .col-content {
  margin-top: 380px;
}

.section--5 .review {
  width: 100%;
  height: 350px;
}

.section--5 .review .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.section--5 .review .swiper-slide-next {
  opacity: 1;
}

.section--5 .review .swiper-slide img {
  border-radius: 15px;
}

.section--5 .review-navigation {
  text-align: center;
}

.section--5 .review-navigation .review-button-prev, .section--5 .review-navigation .review-button-next {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #FFC800;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  margin: 5px;
}

.section--5 .review-navigation .review-button-prev:hover, .section--5 .review-navigation .review-button-next:hover {
  background: #e6b400;
}

.section--6 .insta-slide .swiper-slide {
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}

.section--6 .insta-slide .swiper-slide img {
  border-radius: 10px;
  width: 100%;
}

@media (min-width: 992px) {
  .section {
    margin: 50px 0;
  }
  .section--5 .review {
    height: 550px;
  }
}

@media (min-width: 768px) {
  .section {
    margin: 50px 0;
  }
  .section--2 .col-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section--2 .col-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section--5 {
    background-size: 30%;
    min-height: 500px;
  }
  .section--5 .col-content {
    margin-top: 0;
  }
  .section--5 .review-navigation {
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 5;
  }
  .section--5 .review-navigation .review-button-prev, .section--5 .review-navigation .review-button-next {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45px;
    height: 45px;
    background: #FFC800;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    margin: 10px;
  }
  .section--5 .review-navigation .review-button-prev {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .section--5 .review-navigation .review-button-next {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.box {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 6px 36px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 36px rgba(0, 0, 0, 0.1);
  padding: 25px;
  position: relative;
}

.box__sticker {
  position: absolute;
  content: "";
  width: 80px;
  height: 15px;
  top: 10px;
  left: -20px;
  background-color: rgba(255, 0, 0, 0.2);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.box__title {
  font-size: 20px;
}

.box .des-list li:not(:last-child) {
  margin-bottom: 10px;
}

.box .des-list__icon {
  max-width: 15px;
  display: inline-block;
  margin-right: 10px;
}

.box .btn {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .box .btn {
    display: inline-block;
    width: auto;
  }
}

.product-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.product-grid__item {
  padding: 0 15px;
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  margin-bottom: 5px;
}

.product-thumb {
  margin-bottom: 60px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.product-thumb:hover {
  margin-bottom: 0;
}

.product-thumb:hover .product-inner {
  border: 4px solid #FFC800;
  padding-bottom: 60px;
}

.product-thumb:hover .bottom {
  bottom: 15px;
}

.product-thumb:hover:after {
  position: absolute;
  content: "";
  z-index: 1;
  width: 90%;
  height: 90%;
  top: -10px;
  right: 5px;
  border-radius: 15px;
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 5px, #eee 6px, #eee 11px, rgba(255, 255, 255, 0) 12px);
}

.product-thumb__image {
  border-radius: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.product-thumb__image img {
  border-radius: 15px;
}

.product-thumb__title {
  font-size: 18px;
  font-weight: bold;
}

.product-thumb__price {
  color: #009EFE;
}

.product-thumb__list-color {
  margin-bottom: 0;
}

.product-thumb__list-color__item {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-thumb .product-inner {
  font-family: "SVN-ProductSans";
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border: 4px solid #fff;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.product-thumb .bottom {
  position: absolute;
  bottom: -100px;
  left: 15px;
  right: 15px;
  z-index: 2;
}

.product-thumb .btn {
  width: 100%;
}

@media (max-width: 767px) {
  .product-thumb .product-inner {
    padding: 5px;
  }
}

@media (min-width: 768px) {
  .grid1 .product-grid__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .grid2 .product-grid__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid3 .product-grid__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid4 .product-grid__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid5 .product-grid__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .grid6 .product-grid__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media (max-width: 767px) {
  .wrap-product-grid {
    width: 100%;
    overflow: auto;
  }
  .product-grid {
    margin: 0 -5px;
    width: 768px;
  }
  .product-grid__item {
    padding: 0 5px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 20% x;
  }
}

footer {
  font-family: "SVN-ProductSans";
  background: #fff;
  color: #000;
  padding: 15px 0;
}

footer a {
  color: #000;
}

footer a:hover {
  color: #555;
}

footer .footer-social-icon {
  text-align: justify;
}

footer .footer-social-icon img {
  max-width: 20px;
}

footer .footer-menu {
  margin-bottom: 10px;
}

footer .footer-menu li {
  width: 47%;
}

@media (min-width: 992px) {
  footer .footer-social-icon {
    text-align: right;
  }
  footer .footer-menu {
    margin-bottom: 0;
  }
  footer .footer-menu li {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */