.btn{
    font-family: 'SVN-ProductSans';
    border-radius: 10px;
    font-weight: bold;
}

.btn-primary{
    background-color: $main-color1;
    border-color: $main-color1;;
    color: #000;
    &:hover, &:focus, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active,&:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus{
        background: darken($main-color1, 5%);
        border-color: darken($main-color1, 5%);
        color: #000;
    }
}