@font-face {
    font-family: 'SVN-ProductSans';
    src: url('../fonts/SVN-Product Sans/TTF/SVN-Product Sans Regular.ttf')  format('truetype') ;
  }

  @font-face {
    font-family: 'SVN-ProductSans';
    src: url('../fonts/SVN-Product Sans/TTF/SVN-Product Sans Bold.ttf')  format('truetype');
    font-weight: bold; 
  }
  @font-face {
    font-family: 'SVN-ProductSans';
    src: url('../fonts/SVN-Product Sans/TTF/SVN-Product Sans Italic.ttf')  format('truetype');
    font-style: italic;
  }
  @font-face {
    font-family: 'SVN-ProductSans';
    src: url('../fonts/SVN-Product Sans/TTF/SVN-Product Sans Bold Italic.ttf')  format('truetype');
    font-weight: bold; 
    font-style: italic;
  }
a, a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
}
body{
    background: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.f-title{
    font-family: 'SVN-ProductSans';
    font-weight: bold;
}