.banner {
    margin-bottom: 50px;
}
.banner-slide {
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    box-shadow: 0 6px 36px rgba(#000, 0.1);
    img {
        border-radius: 20px;
    }
    &__pagination {
        text-align: center;
        .swiper-pagination-bullet {
            margin: 0 3px;
            background: #fff;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: $main-color1;
        }
    }
}

.section {
    margin: 30px 0;
    .title {
        font-family: "SVN-ProductSans";
        font-weight: bold;
        font-size: 30px;
    }
    .sub-title {
        margin-bottom: 35px;
    }
    &--1 {
        position: relative;
        @media (min-width: 992px) {
            .content {
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 3;
            }
        }
    }
    &--5 {
        background-image: url(../image/bg-section5.png);
        background-size: 70%;
        background-repeat: no-repeat;
        .col-content {
            margin-top: 380px;
        }
        .review {
            width: 100%;
            height: 350px;

            .swiper-slide {
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                opacity: 0.5;
                transition: all ease 0.5s;
                &-next{
                    opacity: 1;
                }
                img{
                    border-radius: 15px;
                }
            }
        }
        .review-navigation {
            text-align: center;
            .review-button-prev,.review-button-next {
                display: inline-block;
                width: 45px;
                height: 45px;
                background: $main-color1;
                border-radius: 50%;
                text-align: center;
                line-height: 45px;
                margin: 5px;
                &:hover{
                    background: darken($main-color1,5%);
                }
            }
        }
    }
    &--6{
        .insta-slide{
            .swiper-slide{
                padding: 10px;
                border-radius: 10px;
                background: #fff;
                img{
                    border-radius: 10px;
                    width: 100%;
                }
            } 
        }
    }
}
@media (min-width: 992px) {
    .section {
        margin: 50px 0; 
        &--5 {
            .review { 
                height: 550px;
            }
        }
    }
}
@media (min-width: 768px) {
    .section {
        margin: 50px 0;
        &--2 {
            .col-content {
                order: 1;
            }
            .col-img {
                order: 2;
            }
        }
        &--5 {
            background-size: 30%;
            min-height: 500px;
            .col-content {
                margin-top: 0;
            } 
            .review-navigation {
                position: absolute;
                top: 50%;
                left: 100%; 
                z-index: 5;
                .review-button-prev,.review-button-next {
                    display: block;
                    flex-direction: column;
                    width: 45px;
                    height: 45px;
                    background: $main-color1;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 45px;
                    margin: 10px;
                }
                .review-button-prev{
                    transform: rotate(90deg);
                }
                .review-button-next {
                    transform: rotate(90deg);
                }
            }
        }
    }
}
.box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 36px rgba(#000, 0.1);
    padding: 25px;
    position: relative;
    &__sticker {
        position: absolute;
        content: "";
        width: 80px;
        height: 15px;
        top: 10px;
        left: -20px;
        background-color: rgba(255, 0, 0, 0.2);
        transform: rotate(-45deg);
    }
    &__title {
        font-size: 20px;
    }
    .des-list {
        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &__icon {
            max-width: 15px;
            display: inline-block;
            margin-right: 10px;
        }
    }
    .btn {
        display: block;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .box {
        .btn {
            display: inline-block;
            width: auto;
        }
    }
}
