footer{
    font-family: "SVN-ProductSans";
    background: #fff;
    color: #000;
    padding: 15px 0;
    a{
        color: #000;
        &:hover{
            color: #555;
        }
    }
    .footer-social-icon{
        text-align: justify;
        img{
            max-width: 20px;
        }
    }
    .footer-menu{
        margin-bottom: 10px;
        li{
            width: 47%;
        }
    }
}
@media (min-width: 992px){
    footer{
        .footer-social-icon{
            text-align: right;
        }
        .footer-menu{
            margin-bottom: 0;
            li{
                width: auto;
            }
        }
    }
}