header {
    padding: 10px 0;
}

.col-cart {
    text-align: right;
}

@media (min-width: 768px) {
    header {
        .col-logo {
            order: 1;
        }
        .col-menu {
            order: 2;
        }
        .col-cart {
            order: 3;
        }
    }
}

.logo {
    max-width: 55px;
}

.menu {
    margin-bottom: 0;
    transition: all ease 0.5s;
    &__item {
        font-family: "SVN-ProductSans";
        color: $text-color;
        a {
            color: $text-color;
            padding: 0px 10px;
            &:after{
                opacity: 0;
                visibility: hidden; 
                transition: all ease 1s;
            }
        }
    }
}
@media (max-width: 767px) {
    .menu {
        background: #fff;
        position: absolute;
        z-index: 99;
        padding: 15px;
        border-radius: 10px;
        right: 15px;
        left: 15px;
        top: 0;
        box-shadow: 0 6px 36px rgba(#000,0.1);
        opacity: 0;
        visibility: hidden;
        margin-top: 20px;
        &.active{
            opacity: 1;
            visibility: visible;
            margin-top: 0;
        }
    }
}
@media (min-width: 768px) {
    .menu {
        &__item {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            display: inline-block;
            margin-right: 35px;
            &--active, &:hover {
                a {
                    position: relative;
                    display: block;
                    &:after {
                        position: absolute;
                        content: "";
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: $main-color1;
                        width: 100%;
                        height: 8px;
                        border-radius: 100px;
                        opacity: 1;
                        visibility: visible; 
                    }
                    span {
                        position: relative;
                        z-index: 3;
                    }
                }
            }
        }
    }
}

.cart {
    background: $main-color1;
    border-radius: 50%;
    position: relative;
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    .total {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        line-height: 15px;
        border-radius: 50%;
        text-align: center;
        background-color: $main-color2;
        color: #fff;
        font-size: 12px;
    }
}

.mobile-menu-trigger {
    display: inline-block;
}
