

.product-grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.product-grid__item {
    padding: 0 15px;
    position: relative;
    transition: all ease 0.5s;
    margin-bottom: 5px;
}
.product-thumb {
    margin-bottom: 60px;
    transition: all ease 0.5s;
    &:hover {
        margin-bottom: 0;
        .product-inner {
            border: 4px solid $main-color1;
            padding-bottom: 60px;
        }
        .bottom {
            bottom: 15px;
        }
        &:after {
            position: absolute;
            content: "";
            z-index: 1;
            width: 90%;
            height: 90%;
            top: -10px;
            right: 5px;
            border-radius: 15px;
            background: repeating-linear-gradient(
                -45deg,
                rgba(#fff, 0) 0px,
                rgba(#fff, 0) 5px,
                #eee 6px,
                #eee 11px,
                rgba(#fff, 0) 12px
            );
        }
    }

    &__image {
        border-radius: 15px;
        text-align: center;
        margin-bottom: 15px;
        img {
            border-radius: 15px;
        }
    }
    &__title {
        font-size: 18px;
        font-weight: bold;
    }
    &__price {
        color: $main-color2;
    }
    &__list-color {
        margin-bottom: 0;
        &__item {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(#000, 0.1);
        }
    }

    .product-inner {
        font-family: "SVN-ProductSans";
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 6px 25px rgba(#000, 0.1);
        padding: 15px;
        border: 4px solid #fff;
        transition: all ease 0.5s;
        position: relative;
        z-index: 3;
        overflow: hidden;
    }
    .bottom {
        position: absolute;
        bottom: -100px;
        left: 15px;
        right: 15px;
        z-index: 2;
    }
    .btn {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .product-thumb {
        .product-inner {
            padding: 5px;
        }
    }
}


@media (min-width: 768px) {
    $grid-columns: 6;
    @for $i from 1 through $grid-columns {
        .grid#{$i} {
            .product-grid__item {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 percentage(1 / $i);
                flex: 0 0 percentage(1 / $i);
                max-width: percentage(1 / $i);
            }
        }
    }
}

@media (max-width: 767px) {
    .wrap-product-grid{
        width: 100%;
        overflow: auto;
    }
    .product-grid {
        margin: 0 -5px;
        width: 768px;
    }
    .product-grid__item {
        padding: 0 5px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        padding: 0 20%x;
    }
}